@using PlantWebshopLogin.Models
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager navigationManager
@inject ShoppingCartService shoppingCartService
@inject UserShoppingCartService userShoppingCartService
@inject ProductService productService
@inject HttpClient httpClient
@inject UserManager<ApplicationUser> userManager
@inject AuthenticationStateProvider stateProvider
@inject UserService userService

@rendermode InteractiveServer

<div class="container">
    <div class="@(Product.Quantity == 0 ? "out-of-stock-product-card" : "product-card")">
    <div class="product-image">
      @if (Product.ImageUrl == null)
            {
                <img src="/bootstrap/images/noPicture.jpg" alt="No available image of the product at the moment." />
            }
            else
            {
                <img src="@Product.ImageUrl" alt="Image of @Product.Name" />
            }
    </div>
    <div class="product-details">
      <h2 class="product-title">@Product.Name</h2>
      @if (Product.OldPrice is not null)
            {
                <h4 class="product-price"><s class="old-price">@showCurrency@oldPrice </s>     @showCurrency@price</h4>
            }
            else
            {
                <h4 class="product-price no-old-price">@showCurrency@(price)</h4>
            }

            @if (Product.Quantity == 0)
            {
                <button class="add-to-cart-btn">Out of stock</button>
            }
            else
            {
                @if (isLoggedIn is true)
                {
                    <button class="add-to-cart-btn" @onclick="() => AddToUserShoppingCart(Product)">Add to USER Cart</button>                    
                }
                else if (isLoggedIn is false)
                {
                    <button class="add-to-cart-btn" @onclick="() => AddToShoppingCart(Product)">Add to non-USER Cart</button>
                }
            }
                <button class="view-btn" @onclick="()=>GoTo(Product.Id)">View</button>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public string showCurrency { get; set; }

    [Parameter]
    public double exchangeRate { get; set; }

    [Parameter]
    public bool isLoggedIn { get; set; }

    [Parameter]
    public ApplicationUser user { get; set; }

    public double price;
    public double oldPrice;

    protected override async Task OnParametersSetAsync()
    {
        price = Product.Price * exchangeRate;
        oldPrice = Convert.ToDouble(Product.OldPrice * exchangeRate);
        price = Math.Round(price, 2);
        oldPrice = Math.Round(oldPrice, 2);
    }

    public void GoTo(int id)
    {
        navigationManager.NavigateTo("/product/" + id);
    }

    public async Task AddToShoppingCart(Product product)
    {
        await shoppingCartService.AddToCart(product);
    }

    public async Task AddToUserShoppingCart(Product product)
    {
        await userShoppingCartService.AddToCart(product, user);
    }
}
